<div class="article card text-xs-center">
    <!--
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left">
      <li class="nav-item">
        <a class="nav-link active" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Related</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Share</a>
      </li>
    </ul>
  </div>
-->
    <div class="card-block">
        <a [href]="article.url" target="_blank"><h4>{{article.title}}</h4></a>
        <span>{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} | {{article.publisher}}</span>
        <a [href]="article.url" target="_blank" *ngIf="article.imgUrl!=null"><img [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0" /></a>
        <a [href]="article.url" target="_blank">
            <p>{{article.snippet}}</p>
        </a>
    </div>
</div>
