.article{
  margin-bottom: 5rem;
  background-color: #fff;
}

.article .card-block{
  padding: 2rem;
  text-align: left;
}

.article h4{
  color: #252830;
font-weight: 700;
margin-top: 0rem;
margin-bottom: 0.4rem;
font-size: 2.4rem;
line-height: 2.8rem;
}

.article .content{
  margin: -2rem;
  padding: 2rem;
  margin-top: 0px;
  padding-top: 0px;
}

.article .content::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}



.article .img{
  float: left;
  background-repeat: no-repeat,no-repeat;
  background-size: cover,cover;
  background-position: center center, center center;
  width: 24rem;
  height: 20rem;
  margin-right: 2rem;
  background-image: url('/assets/img/placeholder-image.png');
  background-color: lightgray;
}


.article  p{
  color: #252830;
  margin-bottom: 0;
  font-family: 'PT Serif', serif;
  font-size: 1.75rem;
  height: auto;
  overflow: hidden;
  display: inline;
}

.article .digest{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.article .info{
  color:#666; margin:0px; margin-top:3px;
}


.article .info-mobile{
  display: none;
}


.snippet >>> span{
    color: #fff;
    font-weight: 700;
    background-color: #373a3c;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

a{
  text-decoration: none;
}



.optout-publisher{
   flex: 1;
   text-align: right;
}

.optout-publisher .mat-icon-button{
  font-size:20px;
  margin-top:-18px;
  margin-right: -18px;
}

.optout-publisher .mat-icon-button i{
  color: #1CA8DD;
}

.mat-menu-item span{
  font-weight: 400;
}
.mat-menu-item .fa{
  width: 19px;
  text-align: center;
  margin-right: 5px;
}

.publisher-name{
  margin-top: 5px;
  margin-bottom: 2px;
}



@media screen and (max-width: 576px) {


  .article h4{
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-top: 0.8rem;
  }

  .article h6{
    font-size: 12px;
  }

  .article .img{
    float: right;
    width: 10rem;
    height: 10rem;
    margin-left: 0.6rem;
    margin-right: 0;
    margin-top: -0.8rem;
    margin-bottom: .6rem;
  }
  .article p{
    font-size: 1.5rem;
    display: none;
  }

  .article .digest{
    margin-bottom: 0rem;
  }
  .article .digest h6{
    line-height: 24px;
  }
  .article .info{
    display: none;
  }

  .article .info-mobile{
    color:#666;
    margin:0px;
    margin-top: 1rem;
    display: block;
  }


  .article{
    margin-bottom: 0rem;
  }

  .article .card-block{
    padding: 18px;
  }
  .article .content{
    margin: -18px;
    margin-top: 0px;
  }

  .publisher-name{
    margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {

  .article h4{
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-top: 0.8rem;
  }
}
