.article{
  margin-bottom: 2.5rem;
  background-color: #fff;
}

.article .card-block{
  padding: 1.1rem;
  text-align: left;
}

.article h4{
  color: #252830;
  font-weight: 700;
  line-height: 130%;
}

.article .content{
  margin: -1rem;
  padding: 1rem;
  margin-top: 0px;
  padding-top: 0px;
}

.article .content::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.article .img{
  float: left;
  background-repeat: no-repeat,no-repeat;
  background-size: cover,cover;
  background-position: center center, center center;
  width: 13rem;
  height: 11rem;
  margin-right: 1rem;
  background-image: url('/assets/img/placeholder-image.png');
  background-color: lightgray;
}

.article  p{
  color: #252830;
  margin-bottom: 0;
  font-family: 'PT Serif', serif;
  font-size: 1.2rem;
  height: auto;
  overflow: hidden;
  display: inline;
}

.article .digest{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
}

.article .info{
  color:#666; margin:0px; margin-top:3px;
}


.article .info-mobile{
  display: none;
}


.snippet >>> span{
    color: #fff;
    font-weight: 700;
    background-color: #373a3c;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

.publisher-name{
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

@media screen and (max-width: 576px) {

  .article .img{
    float: right;
    width: 7rem;
    height: 7rem;
    margin-left: 0.3rem;
    margin-right: 0;
    margin-top: -0.4rem;
    margin-bottom: .3rem;
  }
  .article p{
    display: none;
  }

  .article .digest{
    margin-bottom: 0rem;
  }
  .article .info{
    display: none;
  }
  .article .info-mobile{
    color:#666;
    margin:0;
    margin-top: 1rem;
    display: block;
  }
  .article{
    margin-bottom: 0rem;
  }
  .article .content{
    margin: -0.6rem;
    margin-top: 0px;
  }

}

@media screen and (max-width: 320px) {
  .article .card-block{
    padding: 0.8rem;
  }
  .article .img{
    width: 5rem;
    height: 5rem;
  }
}
