<div class="article text-xs-center" [visibility-observer]="visibilityCallBack">
  <!--
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left">
      <li class="nav-item">
        <a class="nav-link active" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Related</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Share</a>
      </li>
    </ul>
  </div>
-->

  <div class="card-block">
    <div class="digest">
      <publisher-relevance [article]="article" *ngIf="article.publisher.id!==null"></publisher-relevance>
      <div style="flex: 3;">
        <!--<img src="http://www.tio.ch/favicon.ico" style="max-height: 28px; margin-right:5px; float:left;" />-->
        <h6 style="color:black; font-weight: 400;" class="publisher-name">
          {{article.publisher.name}}
        </h6>
        <h6 class="info">{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} <!--<span *ngIf="article.score">· score: {{article.score}}</span>--></h6>
      </div>
    </div>
    <a [attr.href]="article.url" (click)="trackEvent()" target="_blank" *ngIf="!cordovaService.onCordova">
      <div class="content">
        <div class="img" [ngStyle]="{'background-image': 'url(' + lazyImgUrl + ')'}" border="0" *ngIf="article.imgUrl!=null"></div>
        <h4>{{article.title}}</h4>
        <p [innerHTML]="article.snippet | escapeHtml" class="snippet"></p>
        <h6 class="info-mobile">{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
      </div>
    </a>
    <div (click)="openLinkInBrowser()" *ngIf="cordovaService.onCordova">
      <div class="content">
        <div class="img" [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0" *ngIf="article.imgUrl!=null"></div>
        <h4>{{article.title}}</h4>
        <p [innerHTML]="article.snippet | escapeHtml" class="snippet"></p>
        <h6 class="info-mobile">{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
      </div>
    </div>
  </div>


</div>
