.article{
  margin-bottom: 5rem;
  background-color: #fff;
}

.article .card-block{
  padding: 2rem;
  text-align: left;
}

.article h4{
  color: #252830;
font-weight: 700;
margin-top: 0rem;
margin-bottom: 0.4rem;
font-size: 2.4rem;
line-height: 2.8rem;
}

.article .content{
  margin: -2rem;
  padding: 2rem;
  margin-top: 0px;
  padding-top: 0px;
}

.article .content::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}



.article .img{
  float: left;
  background-repeat: no-repeat,no-repeat;
  background-size: cover,cover;
  background-position: center center, center center;
  width: 24rem;
  height: 20rem;
  margin-right: 2rem;
  background-image: url('/assets/img/placeholder-image.png');
  background-color: lightgray;
}


.article span{
  color: #cfd2da;
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

.article  p{
  color: #252830;
  margin-bottom: 0;
  font-family: 'PT Serif', serif;
  font-size: 1.75rem;
  height: auto;
  overflow: hidden;
  display: inline;
}

.snippet >>> span{
    color: #fff;
    font-weight: 700;
    background-color: #373a3c;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

a{
  text-decoration: none;
}

.mat-menu-item span{
  font-weight: 400;
}
.mat-menu-item .fa{
  width: 19px;
  text-align: center;
  margin-right: 5px;
}



@media screen and (max-width: 576px) {


  .article h4{
     font-size: 2rem;
     line-height: 2.3rem;
  }

  .article .img{
    float: none;
    width: 100%;
    height: 18rem;
    margin-right: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  .article p{
    font-size: 1.5rem;
  }
}
