<div class="article text-xs-center">

  <!--
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left">
      <li class="nav-item">
        <a class="nav-link active" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Related</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Share</a>
      </li>
    </ul>
  </div>
-->


  <div class="card-block" *ngIf="cordovaService.onCordova" (click)="openLinkInBrowser()">
    <div class="img" [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0" *ngIf="article.imgUrl!=null"></div>
    <div class="text">
      <h4>{{article.title}}</h4>
      <span>{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} | {{article.publisher}}</span>
      <p>{{article.snippet}}</p>
    </div>
  </div>


  <div class="card-block" *ngIf="!cordovaService.onCordova">
    <a [href]="article.url" target="_blank" *ngIf="article.imgUrl!=null">
      <div class="img" [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0"></div>
    </a>
    <a [href]="article.url" target="_blank">
      <div class="text">
        <h4>{{article.title}}</h4>
        <span>{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} | {{article.publisher}}</span>
        <p>{{article.snippet}}</p>
      </div>
    </a>
  </div>

</div>
