<div class="article text-xs-center">

  <!--
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left">
      <li class="nav-item">
        <a class="nav-link active" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Related</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Share</a>
      </li>
    </ul>
  </div>
-->


  <div class="card-block" *ngIf="cordovaService.onCordova" (click)="openLinkInBrowser()">
    <!--<div style="display: flex;flex-direction: row;     margin-bottom: 1.5rem;">
      <div style="flex: 3;">
        <img src="http://www.tio.ch/favicon.ico" style="max-height: 28px; margin-right:5px; float:left;" />
        <h6 style="color:black; margin:0px;">{{article.publisher}}</h6>
        <h6 style="color:#666; margin:0px; margin-top:2px;">Entertainmet · {{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
      </div>

      <div style="flex: 1;text-align: right;">
        <i class="fa fa-sliders" aria-hidden="true" style="color:#666;"></i>
      </div>
    </div>-->
    <div class="img" [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0" *ngIf="article.imgUrl!=null"></div>


    <h4>{{article.title}}</h4>
    <span>{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} | {{article.publisher}}</span>
    <p>{{article.snippet}}</p>


  </div>


  <div class="card-block" *ngIf="!cordovaService.onCordova">
    <!--<div style="display: flex;flex-direction: row;     margin-bottom: 1.5rem;">
      <div style="flex: 3;">
        <img src="http://www.tio.ch/favicon.ico" style="max-height: 28px; margin-right:5px; float:left;" />
        <h6 style="color:black; margin:0px;">{{article.publisher}}</h6>
        <h6 style="color:#666; margin:0px; margin-top:2px;">Entertainmet · {{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}}</h6>
      </div>

      <div style="flex: 1;text-align: right;">
        <i class="fa fa-sliders" aria-hidden="true" style="color:#666;"></i>
      </div>
    </div>-->
    <a [href]="article.url" target="_blank" *ngIf="article.imgUrl!=null">
      <div class="img" [ngStyle]="{'background-image': 'url(' + article.imgUrl + ')'}" border="0"></div>
    </a>
    <a [href]="article.url" target="_blank">

      <h4>{{article.title}}</h4>
      <span>{{article.publicationDate | date: 'dd/MM/yyyy HH:mm'}} | {{article.publisher}}</span>
      <p>{{article.snippet}}</p>

    </a>
  </div>

</div>
