.md-slider-thumb {
    background-color: white;
}
.md-slider-track-fill {
    background-color: white;
}
.md-slider-horizontal {
    width: 100%;
}
.statcard:hover .md-slider-thumb {
    background-color: #1BC98E;
}
.statcard:hover .md-slider-track-fill {
    background-color: #1BC98E;
}
