.mat-slider-thumb {
  background-color: white!important;
  transform: none!important;
}
.mat-slider-track-fill {
  background-color: white!important;
}
.mat-slider-horizontal {
  width: 100%;
}
.statcard:hover .mat-slider-thumb {
  background-color: #1BC98E!important;
  transform: none;
}
.statcard:hover .mat-slider-track-fill {
  background-color: #1BC98E!important;
}
