<div class="welcome">
  <mat-progress-bar mode="indeterminate" class="loading-bar" *ngIf="loading"></mat-progress-bar>
  <div class="welcome-body">
    <div *ngIf="this.step==1">
      <welcome-region></welcome-region>
    </div>
    <div *ngIf="this.step==2">
      <welcome-edition [continent]="continent" [packagesIds]="packagesIds" (onChange)="onPackageChange($event)"></welcome-edition>
    </div>
    <div *ngIf="this.step==3">
      <welcome-categories [categories]="categories" (onChange)="selectCategory($event)"></welcome-categories>
    </div>
  </div>
  <div class="fixed-bar" *ngIf="this.step>1">
    <div>
      <button mat-raised-button style="" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
      <button *ngIf="this.step==2" mat-raised-button style="float:right;" [disabled]="!hasOnePackage()" (click)="next()">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      <button *ngIf="this.step==3" mat-raised-button style="float:right;" (click)="finish()">Save <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>

</div>
