


.statcard mat-icon {
  float: right;
  font-size: 3rem;
}

.statcard{
  margin-bottom: 0.5rem;
  text-align: left;
}

h3{
  margin-top: 0;
}

@media screen and (max-width: 320px) {

.statcard i{
  font-size: 1.5rem;
}
}


@media (hover:hover) {
  .statcard:hover{
    background-color: white;
    color: #1BC98E;
  }
  .statcard:hover .statcard-desc{
    color: #1BC98E;
  }
  .statcard:hover .delta-indicator{
    color: #1BC98E;
  }
  .modal-actions button:hover{
    color: #1CA8D9;
  }
}
