<div class="welcome-step">
  <h1>Welome to Newscron</h1>
  <p>Select a region</p>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <button class="btn btn-block statcard statcard-success p-a-md" [routerLink]="[ '/welcome', 'EUROPE']">
                <mat-icon>navigate_next</mat-icon>
                <h3 class="statcard-number">EUROPE</h3>
                <span class="statcard-desc">13 editions</span>
            </button>
    </div>
    <div class="col-lg-4 col-md-6">
      <button class="btn btn-block statcard statcard-success p-a-md" [routerLink]="[ '/welcome', 'NORTH_AMERICA']">
                <mat-icon>navigate_next</mat-icon>
                <h3 class="statcard-number">NORTH AMERICA</h3>
                <span class="statcard-desc">1 editions</span>
            </button>
    </div>
    <div class="col-lg-4 col-md-6">
      <button type="button" class="btn btn-block statcard statcard-success p-a-md" [routerLink]="[ '/welcome', 'SOUTH_AMERICA']">
                <mat-icon>navigate_next</mat-icon>
                <h3 class="statcard-number">SOUTH AMERICA</h3>
                <span class="statcard-desc">18 editions</span>
            </button>
    </div>
  </div>
</div>
