<section-header [name]="name" [categoryId]="categoryId"></section-header>
<mat-card *ngIf="error">
  <mat-card-header>
    <mat-card-title>Error</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="margin-left: 8px;">
      {{error}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="error=null">Ok</button>
  </mat-card-actions>
</mat-card>
<ul>
  <li *ngFor="let section of sections">
    <section [section]="section" *ngIf="section!=null"></section>
  </li>
  <li style="text-align: center; margin-top:5rem;" *ngIf="!loading && sections!=null && sections.length>0 && sections[0].articles.length > 0">
    <button mat-raised-button (click)="loadMore()">Load More Articles</button>
  </li>
</ul>
<mat-progress-spinner mode="indeterminate" class="progress-spinner" *ngIf="loading"></mat-progress-spinner>
<h4 *ngIf="sections!=null && sections.length>0 && sections[0].articles.length == 0" style="margin-top:5rem;">
  In the past week no articles for this category have been published.
</h4>
