<div class="bt" id="content">
    <div class="bw">
        <h1>Welcome to Newscron</h1>
        <p>Democrating access to news, togheter we are smarter!</p>
        <p>Configure Newscron to provide you with news you truley care.</p>
        <p>Collaborate with the comunity to hilight important news and ban inapropriate content.</p>
    </div>
    <div class="modal-actions">
        <button type="button" class="btn-link modal-action" data-dismiss="modal"><strong>Next</strong></button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
                    <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                        <span class="sr-only">Toggle nav</span>
                    </button>
                    <a class="sidebar-brand img-responsive" href="index.html">
                        <span class="sidebar-brand-icon" style="font-size:14px; font-weight:bolder;">newscron.com</span>
                    </a>
                </div>

                <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">

                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-header">Categories</li>
                        <li class="active"><a>Top News</a></li>

                        <li *ngFor="let category of categories">
                            <a>{{category.name}}</a>
                        </li>


                        <li class=" nav-header ">Other</li>

                        <li>
                            <a>About</a>
                        </li>
                        <li>
                            <a>Request Newspaper</a>
                        </li>
                        <li>
                            <a>Report Problem</a>
                        </li>
                    </ul>
                    <hr class="visible-xs m-t ">
                </div>
            </nav>
        </div>
        <div class="col-sm-9 content ">
            {{location?.country}}
            <ul>
                <li *ngFor="let section of (sections | validSection)">
                    <section [section]="section"></section>
                </li>
            </ul>


        </div>
    </div>
</div>
