



.statcard-success {
  background-color: #1BC98E;
}

.statcard-primary,
.statcard-success,
.statcard-info,
.statcard-warning,
.statcard-danger {
  color: #fff;
  border-radius: 3px;
}

.p-a-md {
  padding: 30px !important;
}

.btn {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.statcard-success .statcard-number {
  font-weight: normal;
  color: inherit;
}

.statcard-desc {
  font-size: 85%;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
}

.custom-control input:checked~.custom-control-indicator {
  background-color: #1CA8DD;
  border-color: #1CA8DD;
  box-shadow: none;
}


.flextable-primary {
  width: 99%;
}

.flextable-item {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
