

.mat-slider-wrapper{
  background: lightgray;
}

.mat-slider-horizontal {
  width: 100%;
}
.mat-slider-thumb {
  background-color: #1ca8dd!important;
  transform: none;
}
.mat-slider-track-fill {
  background-color: #1ca8dd!important;
}
