<div class="loading" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" class="progress-spinner"></mat-progress-spinner>
  <h3>Assembling Digest...</h3>
</div>

<ul *ngIf="!loading" class="digests-list">
  <li *ngFor="let digest of digests; let j = index">
    <digest [digest]="digest"></digest>
  </li>
  <li style="text-align: center; margin-top:5rem;" *ngIf="this.counter < this.digestsData.length">
    <button mat-raised-button (click)="loadDigest(1)">Load Previous Digest</button>
  </li>
</ul>


<!--- Footer --->
<div style="font-weight: lighter; padding-bottom: 30px; color:white; margin-top:60px;" *ngIf="!loading">
  <hr class="aky">
  <p style="padding-left: 1.5rem;">Newscron is a project of Elia Palme
    <a href="https://www.linkedin.com/in/elia-palme"><i class="fa fa-linkedin-square" style="margin-left: 10px;" aria-hidden="true"></i></a>
    <a href="https://twitter.com/EliaPalme"><i class="fa fa-twitter-square"  style="margin-left: 10px;" aria-hidden="true"></i></a>
  </p>
</div>
