:host {
  display: block;
}

.loading h3{
  color: #1CA8DD;
    text-align: center;
    margin-top: 2.5rem;
}


.header{
  position: fixed;
  top: 50px;
  width: inherit;
  z-index: 2;
  background: #252830;
}


.digests-list li:first-child >>> .chunk-header{
  margin-top: 3rem!important;
}
