:host {
  display: block;
}

li{
  list-style-type:none
}

ul{
  padding: 0px;
}

.loading h3{
  color: #1CA8DD;
    text-align: center;
    margin-top: 2.5rem;
}

hr{
  margin-top: 1rem;
}

.header{
  position: fixed;
  top: 50px;
  width: inherit;
  z-index: 2;
  background: #252830;
}


.wrap{
    position: relative;
    width: 100%;
}

.progress-spinner{
  margin: auto;
    margin-top: 4rem;
}

.digests-list li:first-child >>> .chunk-header{
  margin-top: 5rem!important;
}
