.publisher-vote{
  flex: 0;
  margin-left: -0.7rem;
  margin-top: -0.7rem;
  margin-right: 0.3rem;
}
.publisher-vote button{
    min-width: 0px;
    padding: 0px;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
  }
.publisher-vote-button{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    margin:2px;
    line-height:0.8rem;
}
.publisher-vote-button-arrow{
  color: darkgray;
  font-size: 0.8rem;
  margin-top:-2px;
}
.publisher-vote-button-arrow.up.active{
  color: #1BC98E;
}
.publisher-vote-button-arrow.down.active{
  color: #f44336;
}

.publisher-vote-text{
  font-size: 0.8rem;
}


@media screen and (max-width: 576px) {


}
