<div class="publisher-vote">
  <button mat-button (click)="publisherDialog(article.publisher,article.category)">
    <div class="publisher-vote-button">
      <mat-icon class="publisher-vote-button-arrow up" [ngClass]="{active: publisherUserRelevance>0}">keyboard_arrow_up</mat-icon>
      <span class="publisher-vote-text"><span *ngIf="publisherRelevance>0">+</span>{{publisherRelevance}}</span>
      <mat-icon class="publisher-vote-button-arrow down" [ngClass]="{active: publisherUserRelevance<0}">keyboard_arrow_down</mat-icon>
    </div>
  </button>
</div>
