
.category-settings-button{
  color: white;
  min-width: 40px;
  font-size: 20px;
}


.category-settings-button i{
  vertical-align: baseline;
}


h2{
  padding-left: 0.75rem;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 540px) {
  h2{
    padding-left: 1rem;
  }
}
