li{
  list-style-type:none
}

ul{
  padding: 0px;
}


hr{
  margin-top: 1rem;
}

h2{
  margin-bottom: 0rem;
  margin-top: 5rem;
  font-size: 5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row;
}

.progress-spinner{
  margin: auto;
    margin-top: 5rem;
}


.search-settings-button{
  color: white;
  min-width: 40px;
  font-size: 20px;
}
.search-settings-button i{
  vertical-align: baseline;
}



.search-label{
  color:white;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0px!important;
}


@media screen and (max-width: 540px) {
  .searchPhrase{
    font-size:2rem;
  }

  .sarchButton {
    font-size: 2rem;
    padding: 11px 25px;
  }
  .form-group {
      margin: 0px;
  }

  .search-label{
  font-size: 1.5rem;
  }

  .search-settings-button{
    font-size: 2rem;
    height: 42px;
  }
}
