<h2>
{{searchPhrase}}
<div style="flex: 1;text-align: right;">
  <button mat-button class="search-settings-button" (click)="togleSettings()"><mat-icon>settings</mat-icon></button>
</div>
</h2>
<hr class="aky" />




<div class="loading" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" class="progress-spinner"></mat-progress-spinner>
</div>


<ul>
  <li>
    <section [section]="section" *ngIf="section!=null"></section>
  </li>
</ul>
<h4 *ngIf="section==null && error==null && !loading && searchPhrase.length>0" style="margin-top:5rem;">
  No results found!
</h4>
<mat-card *ngIf="error">
  <mat-card-header>
    <mat-card-title>Error</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="margin-left: 8px;">
      {{error}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="error=null">Ok</button>
  </mat-card-actions>
</mat-card>
