<h2>
{{searchPhrase}}
<div style="flex: 1;text-align: right;">
  <button mat-button class="search-settings-button" (click)="togleSettings()"><mat-icon>settings</mat-icon></button>
</div>
</h2>
<hr class="aky" />




<div class="loading" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" class="progress-spinner"></mat-progress-spinner>
</div>


<ul>
  <li>
    <section [section]="section" *ngIf="section!=null"></section>
  </li>
</ul>
<h4 *ngIf="section==null && !loading && searchPhrase.length>0" style="margin-top:5rem;">
  No results found!
</h4>
