
.main{

}




:host /deep/ .navbar{
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 10;
}

h3{
    display: inline;
    color: black;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 20px;
  }

.back{
  font-size: 20px;
  color: rgba(0,0,0,.9);
  min-width: 38px;
  height: 38px;
  padding: 0px;
}

.back i{
vertical-align: baseline;
}

.app-content {
  display: block;
  padding: 2rem;
  padding-top: 50px;
}

.main-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
}


@media screen and (max-width: 576px){
  .main-container{
    max-width: 100%!important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
