<h1>{{category.name}} - Configuration</h1>
<hr/>

<h3>Show articles from the following regions</h3>
<hr/>

<md-tab-group>
  <md-tab label="EUROPE">
    <package-selection continent="EUROPE"></package-selection>
  </md-tab>
  <md-tab label="NORTH AMERICA">
    <package-selection continent="NORTH_AMERICA"></package-selection>
  </md-tab>
  <md-tab label="SOUTH AMERICA">
    <package-selection continent="SOUTH_AMERICA"></package-selection>
  </md-tab>
</md-tab-group>




<h3>Publishers OutOut List</h3>
<hr/>
