


>>> .statcard-success {
    background-color: #1ca8dd;
}

>>> .custom-control-input:checked~ .custom-control-indicator {
    background-color: #1bc98e!important;
    border-color: #1bc98e!important;
}


hr{
    margin-bottom: 21px;
    border: 0;
      border-top: 1px solid #434857;
}

li{
  list-style-type:none
}

ul{
  padding: 0px;
}
