


>>> .statcard-success {
    background-color: #1ca8dd;
}

>>> .custom-control-input:checked~ .custom-control-indicator {
    background-color: #1bc98e!important;
    border-color: #1bc98e!important;
}


h4{
  margin-top: 2.5rem;
}

h4:first-child {
  margin-top: 1.5rem;
}

hr{
  margin-left: -1rem;
  margin-right: -1rem;
}
