.custom-control-indicator{
  margin-top: 6px;
  background-color: white;
}

.custom-control-description{
  margin-left: 20px;
  white-space: nowrap;
  font-size: 20px;
}
.statcard{
  margin-bottom: 1rem;
  text-align: left;
}
