li{
  list-style-type:none
}

ul{
  padding: 0px;
}

.chunk-header:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #1CA8DD;
}


.chunk-header{
  position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12rem;
    margin-bottom: 2rem;
    font-weight: 100;
}
.chunk-header h3{
    color: #1CA8DD;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    background-color: #252830;
  }
