/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'app/welcome/custom-component-theme.scss';

html, body{
  height: 100%;
}


.loading{
  width: 1005;
}

.loading .img{
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: 10rem;
  display: block;
  background: url('assets/img/loading.gif');
  background-image: url('assets/img/loading.svg'), none;
}


button:focus{
  outline: none!important;
}
