/* You can add global styles to this file, and also import other style files */

@import 'app/config/category-config/custom-slider-component-theme.scss';
@import 'app/config/category-config/custom-tab-component-theme.scss';




html, body{
  height: 100%;
}


.loading{
  width: 1005;
}

.loading .img{
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: 10rem;
  display: block;
  background: url('assets/img/loading.gif');
  background-image: url('assets/img/loading.svg'), none;
}


button:focus{
  outline: none!important;
}

.loading-bar{
  position: fixed!important;
  top: 45px;
  z-index: 50;
  left: 0px;
  right: 0px;
}
