/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';

@import 'app/welcome/custom-component-theme.scss';


.loading{
  width: 1005;
}

.loading .img{
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: 10rem;
  display: block;
  background: url('loading.gif');
  background-image: url('loading.svg'), none;
}
