

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 7px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #434857;
}
.nav > li.disabled > a {
  color: #cfd2da;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #cfd2da;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #434857;
  border-color: #1CA8DD;
}

.nav > .nav-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  font-size: 85%;
  font-weight: normal;
  letter-spacing: 1px;
  color: #51586a;
  text-transform: uppercase;
}
.nav > li + .nav-header {
  margin-top: 20px;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav > li > a {
  color: #cfd2da;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #252830;
  background-color: #1CA8DD;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-control {
    box-shadow: none;
}

.form-control {
    -webkit-transition: none;
    transition: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.active-link{
  color: #252830!important;
  background-color: #1CA8DD!important;
}

.active-route{
  border-radius: 4px;
  color: #252830!important;
  background-color: #1CA8DD!important;
  position: relative;
    display: block;
    padding: 7px 15px;
    margin-bottom: 15px;
}

.navbar-iOS-fix-onfocus{
  position: absolute!important;
}

.embedded-welcome{
  padding-top: 50px;
  margin-bottom: 50px;
  flex: 1;
}

.embedded-welcome  /deep/ .welcome{
  min-height: auto!important;
}

.sidebar-nav{
    margin-top: 5rem;
}

.menu-button{
  min-width: 38px;
  height: 38px;
  font-size: 22px;
}
.menu-button i{
  vertical-align: baseline;
}

.searchPhrase{
  font-size:2rem;
  background-color: rgba(0,0,0,0.06);
  border-color: transparent;
  color: black;
}

.searchPhrase:focus {
    background-color: #fff;
}

.sarchButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 30px;
    color: #b7bcc8;
    background-color: transparent;
    border: 0;
    line-height: 0;
    font-size: 2rem;
}



.main-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
  }


@media screen and (max-width: 576px){
  .main-container{
    max-width: 100%!important;
    padding-left: 0px;
    padding-right: 0px;
  }
}



.app-content {
  padding-top: 50px; /* report the same value in featured.component.css .header class and in  featured.component.ts padding variable */
}


.navbar-toggler{
  padding: 18px;
  padding-right: 22px;
  padding-left: 22px;
}


:host /deep/ .navbar{
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 10;
}


main-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.main-content-container{
  background-color: transparent;
  flex: 1;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
}

.main-content-sidenav{
  min-width: 200px;
  background-color: transparent;
  overflow: auto;
  height: 100%;
}

@media (max-width: 767px) {
  .main-content-sidenav {
    flex: 1 0 auto;
    background-color: #252830;
  }
}
