
.active-link{
  color: #252830!important;
  background-color: #1CA8DD!important;
}

ul{
  position: fixed;
  margin-top: 5rem;
}


@media screen and (max-width: 576px){
  .container{
    width: 100%!important;
  }
}
