@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$mat-newscron-blue: (
    50 : #e4f5fb,
    100 : #bbe5f5,
    200 : #8ed4ee,
    300 : #60c2e7,
    400 : #3eb5e2,
    500 : #1ca8dd,
    600 : #19a0d9,
    700 : #1497d4,
    800 : #118dcf,
    900 : #097dc7,
    A100 : #f1f9ff,
    A200 : #bee3ff,
    A400 : #8bcdff,
    A700 : #72c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-newscron-green: (
    50 : #e4f9f1,
    100 : #bbefdd,
    200 : #8de4c7,
    300 : #5fd9b0,
    400 : #3dd19f,
    500 : #1bc98e,
    600 : #18c386,
    700 : #14bc7b,
    800 : #10b571,
    900 : #08a95f,
    A100 : #d4ffe9,
    A200 : #a1ffd0,
    A400 : #6effb6,
    A700 : #55ffa9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-newscron-blue);
$candy-app-accent:  mat-palette($mat-newscron-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
